.box-menu {
    display: flex;
}

.menu-box {
    width: 100%;
    margin: 0 0px 0px 3%;
}

#closeError {
    float: right;
    color: #fff;
    padding: 0px 10px;
    cursor: pointer;
}

#copyright {
    font-size: 0.95em;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}


/* ===== CHECKBOX ===== */


/* Customize the label (the container) */

.menu-box a {
    color: #5281bb !important;
    text-decoration: none;
}

.menu-box a:hover {
    color: #95b8e4;
}

.menu-box ul {
    list-style: none;
    background: aliceblue;
    border-radius: 20px;
}

.p-4 {
    padding: 15px !important;
    font-size: 20px;
}

.bg-dark {
    height: 60px !important;
    background-color: #0175c5!important;
}

.menu-box ul li {
    float: none;
    display: inline;
}

.menu-box ul li .a {
    display: block;
}

.menu-box ul.menu.ul {
    /* background: blue; */
    margin-left: 0px;
    height: 35px;
}

.dropdown-content li a {
    margin: 0px;
    padding: 0 0 0 0px;
    border: 1px solid;
    border-radius: 10px;
}

.menu-box li {
    margin: 0;
    padding: 2px 0px 0 50px;
    list-style: none;
    display: initial;
}

.menu-box li ul {
    display: none;
    float: left;
}

.menu-box .dropdown {
    position: relative;
    display: inline-block;
}

.menu-box .dropdown-content {
    position: absolute;
    background-color: #cae8fb;
    min-width: 200px;
    min-height: 100px;
    border: 1px solid;
    margin: 0 0 0px 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0 0 6px 0;
    z-index: 1;
}

.menu-box .dropdown:hover .dropdown-content {
    display: block;
}


/* li:hover ul {
    display: block;
} */

#menu-box li ul {
    display: none;
    position: absolute;
}


/* Meter */


/* Tables */


/* Navigation bar */

nav {
    display: block;
    padding: 8px 10px;
    background: #2f3136;
    width: 86px;
}

nav a {
    color: #bfbfbf;
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    background: #36393f;
    color: #cecece;
    border-radius: 4px;
}

.center {
    text-align: center;
}

.active {
    background: red;
    padding: 8px 0px;
    border-radius: 25%;
}

@media only screen and (min-width: 24em) {}

@media only screen and (min-width: 24em) {
    .collapse {
        display: none;
    }
    .collapse.show {
        display: block;
    }
    .navbar {
        position: absolute !important;
    }
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem
    }
    .navbar-toggler:focus,
    .navbar-toggler:hover {
        text-decoration: none
    }
    .navbar-toggler:not(:disabled):not(.disabled) {
        cursor: pointer
    }
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%
    }
    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, .5);
        border-color: rgba(255, 255, 255, .1)
    }
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .navbar-dark .navbar-text {
        color: rgba(255, 255, 255, .5)
    }
    .navbar-dark .navbar-text a {
        color: #fff
    }
    .navbar-dark .navbar-text a:focus,
    .navbar-dark .navbar-text a:hover {
        color: #fff
    }
    #lupa {
        position: absolute;
        margin: 1% 0px 0 40%;
    }
    #lupa2 {
        position: absolute;
        margin: 1% 0px 0 36%;
    }
}

@media only screen and (max-width:30em) {
    .menu-box .dropdown {
        display: contents;
    }
    .navbar {
        position: absolute;
    }
    strong {
        font-weight: bolder;
        padding: 41px !important;
    }
    .p-4 {
        padding: 0 0 0 51px !important;
        display: contents;
        font-size: 20px;
    }
    .menu-box {
        width: 100%;
        margin: 0 0 0px 4%;
    }
    .box-menu {
        display: block;
    }
    .info {
        width: 85%;
        text-align: center;
    }
    ul {
        list-style: none;
        /* background: aliceblue; */
        border-radius: 10px;
        padding: 23px;
    }
    ul li .a {
        display: block;
        padding: 8px;
    }
    ul.menu.ul {
        /* background: blue; */
        margin-left: 3%;
        height: 20px;
    }
    .menu ul li {
        width: 100%;
        float: none;
    }
    .menu ul ul {
        width: 100%;
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all 4s;
    }
    .menu ul li:hover ul {
        height: auto;
        max-height: 500px;
    }
    li {
        padding: 0 0px 0 0px;
        /* list-style: none; */
        /* border: solid; */
        width: 100%;
        display: initial;
    }
    h2.subtitulos {
        width: 80% !important;
        height: 70px !important;
        border-left: none !important;
        text-align: left !important;
        font-size: 32px !important;
        background: #2f3136 !important;
        border-radius: 10px !important;
        margin: 8px 0 22px 0 !important;
        padding: 20px 0 2px 32px !important;
    }
    input.rigth {
        background: white;
        float: right;
        margin: 5px;
        width: 45%;
        border-radius: 100px;
        padding-left: 2%;
        color: black;
    }
    ul li .a {
        display: block;
    }
    #lupa {
        position: absolute;
        margin: 3% 0px 0 46%;
    }
    #lupa2 {
        position: absolute;
        margin: 3% 0px 0 35%;
    }
    #prev {
        position: absolute;
        margin-top: -111px;
        margin-left: 0px;
        border: solid 5px white;
        border-radius: 50%;
        background-color: white;
    }
    #prev2 {
        position: absolute;
        margin-top: -82px;
        margin-left: 0px;
        border: solid 5px white;
        border-radius: 50%;
        background-color: white;
    }
    .menu-box {
        width: 100%;
        margin: 0;
    }
    .dropdown-content {
        margin: 0 40px;
    }
}

@media(min-width:30em) and (max-width:48em) {
    h2.subtitulos {
        width: 80% !important;
        height: 70px !important;
        border-left: none !important;
        text-align: left !important;
        font-size: 32px !important;
        background: #2f3136 !important;
        border-radius: 10px !important;
        margin: 8px 0 22px 0 !important;
        padding: 20px 0 2px 32px !important;
    }
    input.rigth {
        background: white;
        float: right;
        margin: 5px;
        width: 45%;
        border-radius: 100px;
        padding-left: 2%;
        color: black;
    }
    #lupa {
        position: absolute;
        margin: 2% 0px 0 60%;
    }
    ul li .a {
        display: block;
    }
    #lupa2 {
        position: absolute;
        margin: 2% 0px 0 55%;
    }
    #prev {
        position: absolute;
        margin-top: -111px;
        margin-left: 0px;
        border: solid 5px white;
        border-radius: 50%;
        background-color: white;
    }
    #prev2 {
        position: absolute;
        margin-top: -82px;
        margin-left: 0px;
        border: solid 5px white;
        border-radius: 50%;
        background-color: white;
    }
}

@media(min-width:48em) and (max-width:75em) {
    h2.subtitulos {
        width: 80% !important;
        height: 70px !important;
        border-left: none !important;
        text-align: left !important;
        font-size: 32px !important;
        background: #2f3136 !important;
        border-radius: 10px !important;
        margin: 8px 0 22px 0 !important;
        padding: 20px 0 2px 32px !important;
    }
    input.rigth {
        background: white;
        float: right;
        margin: 5px;
        width: 45%;
        border-radius: 100px;
        padding-left: 2%;
        color: black;
    }
    ul li .a {
        display: block;
    }
    #lupa {
        position: absolute;
        margin: 1% 0px 0 67%;
    }
    #lupa2 {
        position: absolute;
        margin: 1% 0px 0 63%;
    }
    #prev {
        position: absolute;
        margin-top: -111px;
        margin-left: 0px;
        border: solid 5px white;
        border-radius: 50%;
        background-color: white;
    }
    #prev2 {
        position: absolute;
        margin-top: -82px;
        margin-left: 0px;
        border: solid 5px white;
        border-radius: 50%;
        background-color: white;
    }
    #next {
        position: absolute;
        margin-top: -111px;
        float: right;
        margin-left: 94%;
        border: solid 5px white;
        border-radius: 50%;
        background-color: white;
    }
    #next2 {
        position: absolute;
        margin-top: -82px;
        float: right;
        margin-left: 94%;
        border: solid 5px white;
        border-radius: 50%;
        background-color: white;
    }
}

.modal-open {
    overflow: hidden
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-dialog-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - (.5rem * 2))
}

.modal-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height: 1.5
}

.modal-body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef
}

.modal-footer>:not(:first-child) {
    margin-left: .25rem
}

.modal-footer>:not(:last-child) {
    margin-right: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}

@media (min-width:576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto
    }
    .modal-dialog-centered {
        min-height: calc(100% - (1.75rem * 2))
    }
    .modal-sm {
        max-width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        max-width: 800px
    }
}

div.float-button {
    width: 60px;
    height: 60px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: fixed;
    right: 2%;
    bottom: 7%;
    box-shadow: 1px 2px 8px black;
    cursor: pointer;
}

div.float-button span {
    font-size: 60pt;
    margin-top: 10%;
    margin-left: 3%;
}

.mdl-button {
    background-color: brown;
}

.success-button {
    background-color: rgb(6, 86, 207);
}